{{- $fullName := include "rest-api-chart.fullname" . -}}
{{- $svcPort := .Values.service.port -}}

apiVersion: extensions/v1beta1
kind: Ingress
metadata:
  name: {{ include "rest-api-chart.fullname" . }}
  labels:
{{ include "rest-api-chart.labels" . | indent 4 }}
{{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
{{- end }}
spec:
  rules:
  - http:
      paths:
      - path: /*
        backend:
          serviceName: {{ include "rest-api-chart.fullname" . }}
          servicePort: {{ $svcPort }}
